body {
    background: rgb(78, 207, 221);
    color: rgb(226, 71, 71);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
  background: rgb(55, 226, 89);
  margin: 0 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(157, 106, 201);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #5417be;
}

/* main container area beneath menu */
main {
    background: rgb(37, 206, 192);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(64, 207, 105) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}